body {
    font-family: "oswald", sans-serif;
    background-color: #000fff;
    color: #fff;
    text-align: center;

}

/* Heading style */

.heading {
    text-align: center;
    font-size: 4rem;
}