body {
    font-family: "oswald", sans-serif;
    background-color: #000fff;
    color: #fff;
    text-align: center;
    background-image: url("../images/5.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

}

/* Heading style */

.heading {
    text-align: center;
    font-size: 4rem;
}